<div class="row">
    <div class="box col-md-12">
        <div class="box-inner">
            <div class="well well-sm">
                <h4>
                    <i class="glyphicon glyphicon-info-sign"></i> Welcome
                </h4>
            </div>
            <div class="box-content row">
                <div class="col-md-12">
                    <h1>
                        Welcome to the Github API
                    </h1>
                </div>
            </div>
        </div>
    </div>
</div>